<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Оголошення не знайдено</h1>

    <p>Оголошення не знайдено</p>

    <a href="/">Повернутися на головну</a>
</body>

</html>