<!DOCTYPE html>
<html>

<head>
    <title>Server error</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Помилка сервера</h1>

    <p>Сталася помилка під час обробки запиту.</p>

    <a href="/">Повернутися на головну</a>
</body>

</html>